.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#number, #title {
  display: flex;
  justify-content: center;
}

#number {
  font-size: 12vh;
  font-family: 'Digital';
}
