/* #input {
  font-size: xx-large;
} */

.dayinput {
  display: flex;
  flex-direction: row;
}

.timeinput {
  display: flex;
  flex-direction: row;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3vh;

}
