/* #input {
  font-size: xx-large;
} */

.dayinput {
  display: flex;
  flex-direction: row;
}

.timeinput {
  display: flex;
  flex-direction: row;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 7vh;
}

#month {
  font-size: 5vh;
  height: 100%;
  border: none;
  width: 13vh;
}

#day {
  font-size: 5vh;
  height: 100%;
  overflow: hidden;
  border: none;
  width: 8vh;
}

#year {
  font-size: 5vh;
  height: 100%;
  overflow: hidden;
  border: none;
  width: 16vh;
}

#day, #hour, #minute {
  font-size: 5vh;
  height: 100%;
  overflow: hidden;
  border: none;
  width: 7vh;
}

.dots {
  font-size: 5vh;
  font-family: sans-serif;
}

.at {
  font-size: 5vh;
  width: 10vh;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

.progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outside {
  width: 50%;
  height: 5vh;
  border: solid;
  background-color: white;
}

.percent {
  height: 100%;
  background-color: green;
}


